@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Nunito:wght@200&family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import "./topSection";
@import "./variables";
@import "./first";
@import "./second";
@import "./third";
@import "./pagination";
@import "./footer";
@import "./inspiration";
@import "./single";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sticky {
  // position: fixed;
  top: 0;
  width: auto;
  background: $primaryColor;
  z-index: 9999;
  transition: all 1s ease;
}
